.login {
  /* margin: 2.5rem; */
  /* padding: 2.5rem 5rem; */
  background-color: var(--color-dark--1);
  min-height: 100vh;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 34rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-brand--2);
  text-decoration: none;
}

p{
  font-size: 1.3rem;
  font-weight: 600;
}