.signup {
    padding-bottom: 1.28rem;
    background-color: var(--color-dark--1);
    min-height: 100vh;
  }
  
  .form {
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    /* Different from other form */
    width: 34rem;
    margin: 1.0rem auto;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .link{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-brand--2);
    text-decoration: none;
  }
  
  p{
    font-size: 1.3rem;
    font-weight: 600;
  }